.content{
    background-color: #F3F3F3;
    width: 98%;
    margin: 0 auto;
    padding: 10px;

} 
.content .banner{
    display: flex;
}
.content .banner img{
    flex: 1;
    margin: 10px;
}
.content .tt_dv{
    text-align: center;
}